
p.FM_zHeaderle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_zHeaderle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable21bleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable21bleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable11aleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable11aleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_xTitleintermediate {
        margin-left:     39.685pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -39.685pt;
        margin-top:      6.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
caption.FM_xTitleintermediate {
        margin-left:     39.685pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -39.685pt;
        margin-top:      6.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_Warning2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Warning2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable22bcenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable22bcenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Note2dlast {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Note2dlast {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Note1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Note1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_zWatermark {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      56.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       90.0pt;
        color:           #b3b3b3;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.10em;
        
}
caption.FM_zWatermark {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      56.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       90.0pt;
        color:           #b3b3b3;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.10em;
        
}
p.FM_yTable23aright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable23aright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Warning3List {
        margin-left:     11.339pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -11.339pt;
        margin-top:      1.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Warning3List {
        margin-left:     11.339pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -11.339pt;
        margin-top:      1.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_zBlankPage {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.15em;
        
}
caption.FM_zBlankPage {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.15em;
        
}
p.FM_Note2a {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Note2a {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BodyMargin {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_BodyMargin {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      justify;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_zDisclaimer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       6.5pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_zDisclaimer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       6.5pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Note2b {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Note2b {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      1.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading3noTOC {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -34.016pt;
        margin-top:      11.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Heading3noTOC {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -34.016pt;
        margin-top:      11.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable31aleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable31aleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_TitleauxFiles {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      34.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
caption.FM_TitleauxFiles {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      34.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_List2 {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -19.842pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_List2 {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -19.842pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading1 {
        margin-left:     42.520pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -42.520pt;
        margin-top:      34.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Heading1 {
        margin-left:     42.520pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -42.520pt;
        margin-top:      34.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable11bleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable11bleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_xAnchor {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       5.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_xAnchor {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       5.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Note2dlistlast {
        margin-left:     11.339pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -11.339pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Note2dlistlast {
        margin-left:     11.339pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -11.339pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading2 {
        margin-left:     42.520pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -42.520pt;
        margin-top:      14.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Heading2 {
        margin-left:     42.520pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -42.520pt;
        margin-top:      14.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable31acenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable31acenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable12acenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable12acenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_xTabCaption {
        margin-left:     63.780pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -63.780pt;
        margin-top:      3.000pt;
        margin-bottom:   18.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_xTabCaption {
        margin-left:     63.780pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -63.780pt;
        margin-top:      3.000pt;
        margin-bottom:   18.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading3 {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -34.016pt;
        margin-top:      11.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Heading3 {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -34.016pt;
        margin-top:      11.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading2noTOC {
        margin-left:     42.520pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -42.520pt;
        margin-top:      14.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Heading2noTOC {
        margin-left:     42.520pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -42.520pt;
        margin-top:      14.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_xFigCaption {
        margin-left:     63.780pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -63.780pt;
        margin-top:      3.000pt;
        margin-bottom:   18.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_xFigCaption {
        margin-left:     63.780pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -63.780pt;
        margin-top:      3.000pt;
        margin-bottom:   18.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_WarningDoDonot {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_WarningDoDonot {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_SubTOC {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_SubTOC {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading4 {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -48.189pt;
        margin-top:      11.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Heading4 {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -48.189pt;
        margin-top:      11.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_zFooterri {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_zFooterri {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Listb {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Listb {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Lista {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Lista {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_List1 {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -19.842pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_List1 {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -19.842pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_zFooterle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_zFooterle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable21aleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable21aleft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable13bright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable13bright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable12bcenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable12bcenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable22acenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable22acenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_List {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_List {
        margin-left:     34.016pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Listmanual {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Listmanual {
        margin-left:     48.189pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.173pt;
        margin-top:      3.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_zHeaderri {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_zHeaderri {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #666666;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable13aright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable13aright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Warning1wht {
        margin-left:     70.866pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -70.866pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Warning1wht {
        margin-left:     70.866pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -70.866pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Warning1blk {
        margin-left:     70.866pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -70.866pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Warning1blk {
        margin-left:     70.866pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -70.866pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Note2clist {
        margin-left:     11.339pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -11.339pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Note2clist {
        margin-left:     11.339pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -11.339pt;
        margin-top:      1.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      italic;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Body {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Body {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable23bright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable23bright {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_yTable11bList {
        margin-left:     8.504pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -8.504pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_yTable11bList {
        margin-left:     8.504pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -8.504pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
OL, UL {
        margin-top: 0px;
        margin-bottom: 0px;
}

span.FM_PageNumber {
        font-weight:     bold;
        
}
span.FM_Callout {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_BulletSymbol {
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_ChapterNumber {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        letter-spacing:  0.04em;
        
}
span.FM_StepNumber {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}